<!DOCTYPE html>
<html>
<head>
<style>

body {background-color: lightcoral;}

</style>
</head>
<body>

  <div align=center>
    <h1>Hello!</h1>
    <br>
    <form>
      <h2>What's your name?</h2>
      <input type="text" name="name"><br>
      <h2>When's your birthday?</h2>
      Day: <input type="text" name="day">
      Month: <input type="text" name="month"><br><br>
      <input type="submit" value="Go!">
    </form>
  </div>

</body>
</html>
