<html>
<head>
<style>

body {
  background-color: lightcoral;
  font-family: Verdana, sans-serif;
}

</style>
</head>
<body>

  <% if @day == @time.day && @month == @time.strftime("%B") %>
  <div align=center>
    <h1>Happy Birthday, <%= @name %>!</h1>
  </div>
  <% else %>
  <div align=center>
    <h1>It is not your birthday yet, <%= @name %>!</h1>
  </div>
  <% end %>

</body>
</html>
