<html>
<head>
<style>

body {background-color: lightcoral;}

</style>
</head>
<body>

  <% if @day == @time.day && @month == @time.month %>
  <div align=center>
    <h1>Happy Birthday, <%= @name %>!</h1>
  </div>
  <% else %>
  <div align=center>
    <h1>Your birthday will be in 4 days, <%= @name %>!</h1>
  </div>
  <% end %>

</body>
</html>
